**Google Drive Mount In Colab**

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

**Read Data Set By Using python pandas**

In [2]:
import pandas as pd # import library
Data_Set = pd.read_csv('/content/drive/MyDrive/Data set/nba_logreg.csv')

**Display Data Set**

In [4]:
Data_Set.head(100) # display data set

,Name,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,Brandon Ingram,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,25.0,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,0.0
1,Andrew Harrison,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,23.5,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,0.0
2,JaKarr Sampson,74,15.3,5.2,2.0,4.7,42.2,0.4,1.7,24.4,...,1.3,67.0,0.5,1.7,2.2,1.0,0.5,0.3,1.0,0.0
3,Malik Sealy,58,11.6,5.7,2.3,5.5,42.6,0.1,0.5,22.6,...,1.3,68.9,1.0,0.9,1.9,0.8,0.6,0.1,1.0,1.0
4,Matt Geiger,48,11.5,4.5,1.6,3.0,52.4,0.0,0.1,0.0,...,1.9,67.4,1.0,1.5,2.5,0.3,0.3,0.4,0.8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Larry Robinson,36,11.8,3.9,1.7,4.2,41.3,0.0,0.0,0.0,...,0.8,55.6,0.8,0.6,1.4,1.0,0.4,0.0,0.8,1.0
96,Jud Buechler,74,11.6,3.1,1.3,3.1,41.6,0.0,0.1,25.0,...,0.9,65.2,0.8,1.1,1.9,0.7,0.5,0.2,0.3,1.0
97,Cedric Ceballos,63,11.6,8.2,3.2,6.7,48.7,0.0,0.1,16.7,...,2.6,66.3,1.2,1.2,2.4,0.6,0.3,0.1,1.1,1.0
98,Kyle Anderson,33,10.8,2.2,0.9,2.7,34.8,0.1,0.3,27.3,...,0.4,64.3,0.2,2.0,2.2,0.8,0.5,0.2,0.3,0.0
99,Greg Foster,54,11.2,4.4,1.8,3.9,46.0,0.0,0.1,0.0,...,1.1,68.9,1.0,1.8,2.8,0.7,0.2,0.4,0.8,1.0

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

**Data preprocessing**

In [5]:
Data_Set.describe() # for check data set describition

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1329.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,60.414179,17.624627,6.801493,2.629104,5.885299,44.169403,0.247612,0.779179,19.308126,1.297687,1.821940,70.300299,1.009403,2.025746,3.034478,1.550522,0.618507,0.368582,1.193582,0.620149
std,17.433992,8.307964,4.357545,1.683555,3.593488,6.137679,0.383688,1.061847,16.022916,0.987246,1.322984,10.578479,0.777119,1.360008,2.057774,1.471169,0.409759,0.429049,0.722541,0.485531
min,11.000000,3.100000,0.700000,0.300000,0.800000,23.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.300000,0.000000,0.000000,0.000000,0.100000,0.000000
25%,47.000000,10.875000,3.700000,1.400000,3.300000,40.200000,0.000000,0.000000,0.000000,0.600000,0.900000,64.700000,0.400000,1.000000,1.500000,0.600000,0.300000,0.100000,0.700000,0.000000
50%,63.000000,16.100000,5.550000,2.100000,4.800000,44.100000,0.100000,0.300000,22.400000,1.000000,1.500000,71.250000,0.800000,1.700000,2.500000,1.100000,0.500000,0.200000,1.000000,1.000000
75%,77.000000,22.900000,8.800000,3.400000,7.500000,47.900000,0.400000,1.200000,32.500000,1.600000,2.300000,77.600000,1.400000,2.600000,4.000000,2.000000,0.800000,0.500000,1.500000,1.000000
max,82.000000,40.900000,28.200000,10.200000,19.800000,73.700000,2.300000,6.500000,100.000000,7.700000,10.200000,100.000000,5.300000,9.600000,13.900000,10.600000,2.500000,3.900000,4.400000,1.000000

**Check Missing Value**

In [6]:
Data_Set.isnull().sum() # isnull() function detect missing values in the given series object.

Name            0
GP              0
MIN             0
PTS             0
FGM             0
FGA             0
FG%             0
3P Made         0
3PA             0
3P%            11
FTM             0
FTA             0
FT%             0
OREB            0
DREB            0
REB             0
AST             0
STL             0
BLK             0
TOV             0
TARGET_5Yrs     0
dtype: int64

**Mean With Missing Value**

In [11]:
mean = Data_Set['3P%'].mean()
print(mean)

19.308126410835214

**Drope Misssing Value**

In [7]:
Data_Set=Data_Set.dropna(how = 'all')

**Cleanning Data Set**

In [9]:
#Drop the Name of player from the dataset
Data_Set = Data_Set.drop('Name', inplace = False, axis = 1)

In [10]:
Data_Set.head(100) # show 100 row after remove name column

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,25.0,1.6,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,0.0
1,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,23.5,2.6,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,0.0
2,74,15.3,5.2,2.0,4.7,42.2,0.4,1.7,24.4,0.9,1.3,67.0,0.5,1.7,2.2,1.0,0.5,0.3,1.0,0.0
3,58,11.6,5.7,2.3,5.5,42.6,0.1,0.5,22.6,0.9,1.3,68.9,1.0,0.9,1.9,0.8,0.6,0.1,1.0,1.0
4,48,11.5,4.5,1.6,3.0,52.4,0.0,0.1,0.0,1.3,1.9,67.4,1.0,1.5,2.5,0.3,0.3,0.4,0.8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,36,11.8,3.9,1.7,4.2,41.3,0.0,0.0,0.0,0.4,0.8,55.6,0.8,0.6,1.4,1.0,0.4,0.0,0.8,1.0
96,74,11.6,3.1,1.3,3.1,41.6,0.0,0.1,25.0,0.6,0.9,65.2,0.8,1.1,1.9,0.7,0.5,0.2,0.3,1.0
97,63,11.6,8.2,3.2,6.7,48.7,0.0,0.1,16.7,1.7,2.6,66.3,1.2,1.2,2.4,0.6,0.3,0.1,1.1,1.0
98,33,10.8,2.2,0.9,2.7,34.8,0.1,0.3,27.3,0.3,0.4,64.3,0.2,2.0,2.2,0.8,0.5,0.2,0.3,0.0
99,54,11.2,4.4,1.8,3.9,46.0,0.0,0.1,0.0,0.8,1.1,68.9,1.0,1.8,2.8,0.7,0.2,0.4,0.8,1.0

**Mean Without Missing Value**

In [12]:
import numpy as np
from sklearn.impute import SimpleImputer
mean_with_out_value = SimpleImputer(missing_values=np.nan, strategy='median')
Data_Set[['3P%']] = mean_with_out_value.fit_transform(Data_Set[['3P%']])
mean_with_out_value = Data_Set['3P%'].mean()
print(mean_with_out_value)

19.33350746268657

**Data Dimensions**

In [13]:
print(Data_Set.shape) # data set shape

(1340, 20)

In [15]:
print( Data_Set.dtypes) #Dataset attributes datatypes

GP               int64
MIN            float64
PTS            float64
FGM            float64
FGA            float64
FG%            float64
3P Made        float64
3PA            float64
3P%            float64
FTM            float64
FTA            float64
FT%            float64
OREB           float64
DREB           float64
REB            float64
AST            float64
STL            float64
BLK            float64
TOV            float64
TARGET_5Yrs    float64
dtype: object

In [16]:
print( Data_Set['TARGET_5Yrs'].value_counts()) #count value in TARGET_5Yrs column

1.0    831
0.0    509
Name: TARGET_5Yrs, dtype: int64

**Training data**

In [17]:
x = Data_Set.iloc[:,0:19]

**Testing data**

In [19]:
y = Data_Set.iloc[:,19]

In [20]:
x # training data

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,25.0,1.6,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3
1,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,23.5,2.6,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6
2,74,15.3,5.2,2.0,4.7,42.2,0.4,1.7,24.4,0.9,1.3,67.0,0.5,1.7,2.2,1.0,0.5,0.3,1.0
3,58,11.6,5.7,2.3,5.5,42.6,0.1,0.5,22.6,0.9,1.3,68.9,1.0,0.9,1.9,0.8,0.6,0.1,1.0
4,48,11.5,4.5,1.6,3.0,52.4,0.0,0.1,0.0,1.3,1.9,67.4,1.0,1.5,2.5,0.3,0.3,0.4,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,80,15.8,4.3,1.6,3.6,43.3,0.0,0.2,14.3,1.2,1.5,79.2,0.4,0.8,1.2,2.5,0.6,0.2,0.8
1336,68,12.6,3.9,1.5,4.1,35.8,0.1,0.7,16.7,0.8,1.0,79.4,0.4,1.1,1.5,2.3,0.8,0.0,1.3
1337,43,12.1,5.4,2.2,3.9,55.0,0.0,0.0,0.0,1.0,1.6,64.3,1.5,2.3,3.8,0.3,0.3,0.4,0.9
1338,52,12.0,4.5,1.7,3.8,43.9,0.0,0.2,10.0,1.2,1.8,62.5,0.2,0.4,0.7,2.2,0.4,0.1,0.8
1339,47,11.7,4.4,1.6,4.4,36.9,0.4,1.3,33.3,0.7,1.0,67.3,0.2,0.7,0.9,1.4,0.7,0.1,0.9

In [21]:
y # testing data

0       0.0
1       0.0
2       0.0
3       1.0
4       1.0
       ...
1335    0.0
1336    1.0
1337    0.0
1338    1.0
1339    1.0
Name: TARGET_5Yrs, Length: 1340, dtype: float64

**Split Data in Train and Test**

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2) #splite data into 80% train, 20% test

In [26]:
len(y_test)

268

In [27]:
len(y_train)

1072

In [28]:
X_train,X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2) #splite data into 70% train, 30% test

In [29]:
len(y_test)

402

In [30]:
len(y_train)

938

In [33]:
X_train,X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=2)#splite data into 90% train, 10% test

In [34]:
len(y_test)

134

In [35]:
len(y_train)

1206

**Perceptron AI Model**

In [36]:
#call perceptron from sklearn
from sklearn.linear_model import Perceptron

In [37]:
model = Perceptron(alpha = 0.001)

In [38]:
model.fit(X_train, y_train)

Perceptron(alpha=0.001)

In [39]:
predictions = model.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print("The accuracy is: ", accuracy_score(predictions, y_test), "\n")
print("The Precision is: ", precision_score(predictions, y_test), "\n")
print("The reacall is: ", recall_score(predictions, y_test), "\n")
print("The f1 score is: ", f1_score(predictions, y_test), "\n")

The accuracy is:  0.6567164179104478

The Precision is:  0.9642857142857143

The reacall is:  0.6532258064516129

The f1 score is:  0.7788461538461539

**Cross Validation**

In [41]:
from sklearn.model_selection import KFold
from sklearn.linear_model import Perceptron
from sklearn.model_selection import cross_val_score
cv = KFold(n_splits=10, random_state=1, shuffle=True)

In [42]:
from numpy.core.fromnumeric import mean

In [43]:
scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv)
scores2 = cross_val_score(model, x, y, scoring='recall', cv=cv)
print('Accuracy for each fold: ', scores, '\n\n')
print('Accuracy Average : ', (mean(scores)))
print('Recall for each fold: ', scores2, '\n\n')
print('Recall Average : ', (mean(scores2)))

Accuracy for each fold:  [0.57462687 0.6119403  0.73134328 0.59701493 0.67910448 0.73134328
 0.67910448 0.64925373 0.70149254 0.58208955]


Accuracy Average :  0.6537313432835821
Recall for each fold:  [0.49411765 0.86419753 0.8375     0.97368421 0.54878049 0.94047619
 0.98888889 0.93258427 0.86046512 1.        ]


Recall Average :  0.8440694341561285

**RFE**

In [44]:
from sklearn.feature_selection import RFE
from sklearn import tree
clf = tree.DecisionTreeClassifier()
rfe =RFE(clf, n_features_to_select=12)
fit= rfe.fit(x,y)

In [45]:
print("Number of Features:" , fit.n_features_)

Number of Features: 12

In [46]:
print("Feature Ranking:",fit.ranking_)

Feature Ranking: [1 1 2 1 7 1 8 1 1 5 1 1 1 1 1 1 3 6 4]

In [47]:
Data_Set = Data_Set.drop(columns = ['FGA', '3P Made' ,'3PA', 'FTA', 'STL', 'BLK' ,'TOV'])

In [48]:
Data_Set

,GP,MIN,PTS,FGM,FG%,3P%,FTM,FT%,OREB,DREB,REB,AST,TARGET_5Yrs
0,36,27.4,7.4,2.6,34.7,25.0,1.6,69.9,0.7,3.4,4.1,1.9,0.0
1,35,26.9,7.2,2.0,29.6,23.5,2.6,76.5,0.5,2.0,2.4,3.7,0.0
2,74,15.3,5.2,2.0,42.2,24.4,0.9,67.0,0.5,1.7,2.2,1.0,0.0
3,58,11.6,5.7,2.3,42.6,22.6,0.9,68.9,1.0,0.9,1.9,0.8,1.0
4,48,11.5,4.5,1.6,52.4,0.0,1.3,67.4,1.0,1.5,2.5,0.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,80,15.8,4.3,1.6,43.3,14.3,1.2,79.2,0.4,0.8,1.2,2.5,0.0
1336,68,12.6,3.9,1.5,35.8,16.7,0.8,79.4,0.4,1.1,1.5,2.3,1.0
1337,43,12.1,5.4,2.2,55.0,0.0,1.0,64.3,1.5,2.3,3.8,0.3,0.0
1338,52,12.0,4.5,1.7,43.9,10.0,1.2,62.5,0.2,0.4,0.7,2.2,1.0
1339,47,11.7,4.4,1.6,36.9,33.3,0.7,67.3,0.2,0.7,0.9,1.4,1.0

In [49]:
x1 = Data_Set.iloc[:,0:-1]
y1 = Data_Set.iloc[:,-1]
X_train,X_test, y_train, y_test = train_test_split(x1, y1, test_size=0.3, random_state=2)
model = Perceptron(alpha = 0.001)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
print("The accuracy is: ", accuracy_score(predictions, y_test))

The accuracy is:  0.6616915422885572

**RFE 3**

In [50]:
value = tree.DecisionTreeClassifier()
rfe =RFE(value, n_features_to_select=3)
model_fit= rfe.fit(x,y)
print("Num Features: d" , model_fit.n_features_)
print("Feature Ranking: s",fit.ranking_)

Num Features: d 3
Feature Ranking: s [1 1 2 1 7 1 8 1 1 5 1 1 1 1 1 1 3 6 4]

**RFE 17**

In [51]:
tree = tree.DecisionTreeClassifier()
rfe =RFE(tree, n_features_to_select=17)
fit= rfe.fit(x,y)
print("Num Features: " , fit.n_features_)
print("Feature Ranking: ",fit.ranking_)

Num Features:  17
Feature Ranking:  [1 1 1 1 2 1 3 1 1 1 1 1 1 1 1 1 1 1 1]